# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
